:root{
    --fuentePrincipal: "Inter", sans-serif;
    --fuenteSecundaria: "Montserrat", serif;

    --primario: #FF7A00;
    --secundario: #ffbb80;
    --blanco: #ffffff;
    --negro: #000000;
    --gris: #bfbfbf;
}

body{
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;
}
h1, h2, h3, h4, h5, h6, p{
    font-family: var(--fuentePrincipal);
}
a{
    text-decoration: none;
}

/*------------------HEADER------------------*/

header{
    background-color: var(--primario);
    height: auto;
}
.logo{
    width: 90px;
    height: 90px;
    margin: 10px;
}
.titulo{
    font-family: var(--fuentePrincipal);
    font-weight: 700;
    padding-top: 10px;
    font-size: 40px;
    margin: 10px;
}
.logout{
    width: 60px;
    height: 60px;
    margin: 10px;
}
.centrar{
    text-align: center;
    align-items: center;
}

/*------------------MAIN-LOGIN-------------------*/

.bg-gris{
    background-color: var(--gris);
    height: 500px;
    border-radius: 15%;
    margin-top: 60px;
}
.icon-login{
    width: 30px;
    height: 30px;
}
.cajas-lgin{
    padding: 70px;
}
.btn-login{
    padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}
.btn-login:hover {
    background-color: var(--primario);
    box-shadow: 0px 15px 20px var(--negro);
    color: #fff;
    transform: translateY(-7px);
  }
  
  .btn-login:active {
    transform: translateY(-1px);
  }

/*------------------------PANTALLA PRINCIPAL DEL SISTEMA---------------------------*/

.cuadros{
    background-color: var(--primario);
    border-radius: 20px;
    border: 20px;
    text-align: center;
    margin: 20px;
    width: 30%;
    height: 200px;
}
.cuadros-2{
    background-color: var(--gris);
    border-radius: 20px;
    border: 20px;
    text-align: center;
    margin: 20px;
    width: 30%;
    height: 200px;
}
.contenedor-cuad{
    max-width: 90%;
    margin: auto;
}
.texto-cuadro{
    color: var(--blanco);
    font-size: 50px;
    padding: 8%;
    font-weight: 500;
}
